*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    background-color:white;
    height: 90px;
    filter: drop-shadow(0 1px 10px gray);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 3;
}
html{
    height: 1000%;
}
.nav-col{
    width: 100%;
    background-color:black;
    transition: all 0.5s ease-in-out;
    height: 90px;
    filter: drop-shadow(0 1px 10px rgb(0, 0, 0));   
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 3;
}

.search > input[type="text"]{
    border-radius: 10px;
    padding: 5px 10px;
}
.Items{
    position: absolute;
    top: 10%;
    display:grid;
    width: 100%;
    grid-gap: 20px;
    padding: 50px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    z-index: 2;
    justify-items: center;
}
.Item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 300px;
    height:350px;
}
.pagination{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    height: 100vh;
}
.pagination > ul,li{
    display: flex;
    justify-content:center;
    list-style:none;
    padding: 10px 10px;

}